<div class="academy-landing">
	<h1>We Know JavaScript.</h1>
</div>
<div class="container">

	<div class="marketing-section">
		<div>
			<h1>The Founders & Coders agency is composed over over 30 freelance developers. We have worked with startups, local councils and FTSE 100 companies so chances are we can work with you.</h1>
			<h1>Our developers specialise in building web and mobile applications in JavaScript.</h1>
		</div>
	</div>

	<div id="portfolio"></div>
	<div class="section-portfolio">
		<div class="images-container">
			<%- partial("../_partials/portfolio", { "link": "p/africabriefcase", "name": "Africa Briefcase", "company": "Africa Media Lab", "imageStyle": "image-one", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "p/camdenmaps", "name": "Camden Maps", "company": "Camden Council", "imageStyle": "image-three", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "p/chichester-harbour", "name": "Membership Management", "company": "Chichester Harbour", "imageStyle": "image-four", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "p/coot-freight", "name": "Freight Management", "company": "Coot Freight", "imageStyle": "image-seven", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "p/streetflower", "name": "Street Flower", "company": "", "imageStyle": "image-six", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "p/stockport", "name": "Suicide Prevention", "company": "Stockport Council", "imageStyle": "image-five", "display": "" }) %>
		</div>
	</div>
</div>
